#auth-root {
    height: 100vh;
    font-size: 1.7rem;
    background: linear-gradient(#000c, transparent, #000d), url(/src/assets/img/pexels-narda-yescas-724842-1566837.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100vw;
}

.blur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(to right, #000c, #6005, #6005, #000c);
    backdrop-filter: blur(2rem);
}

#auth-win {
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 60%;
    height: 60%;
    border-radius: 1rem;
}  

#auth-firm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5rem;
    background-image: linear-gradient(#000d, #600a), url('/src/assets/img/pexels-narda-yescas-724842-1566837.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 1rem 0 0 1rem;
}

#auth-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#auth-firm img {
    width: 10rem;
}

#auth-firm h1 {
    margin: 1rem 0;
    color: white;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

#auth-firm span {
    display: block;
    color: white;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

#auth-firm strong {
    align-self: center;
    width: 50%;
    color: white;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
}

#auth-buttons {
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

#auth-buttons button {
    padding: 1rem 4rem;
    color: #eee;
    background-color: transparent;
    border: 1px solid #eee;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

#auth-buttons button:hover {
    background-color: #eee;
    color: #222;
}

#auth-main {
    display: grid;
    grid-template-rows: 1fr 4fr;
    background-color: #111;
    color: #ddd;
    border-radius: 0 1rem 1rem 0;
}

#auth-main header {
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#auth-main header h2 {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

#auth-main header strong {
    width: 70%;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

#auth-main form {
    display: grid;
    grid-template-rows: 6fr 1fr;
}

#auth-main form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-inputs {
    display: block;
    width: 80%;
    font-size: 1.5rem;
    color: rgb(150, 150, 150);
    margin: 1rem 0;
}

#auth-main input {
    display: block;
    margin: 0.5rem 0;
    padding: 1rem;
    width: 100%;
    font-size: 1.7rem;
    color: white;
    background-color: rgb(50, 50, 50);
    border: none;
    border-radius: 0.5rem;
}

#auth-main form button {
    margin: auto;
    padding: 1rem 5rem;
    color: white;
    background-color: rgb(212, 39, 28);
    border: none;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}