.section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 6rem 1rem;
    color: var(--color-ctr);
    background: linear-gradient(var(--color-dom), #0002, var(--color-dom));
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 30rem;
}

.section__title {
    font-size: 2.2rem;
}

.section__desc {
    color: var(--color-lgh);
    font-size: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #0002, #0005, #0005, #0002);
    backdrop-filter: blur(5px);
}

.btn {
    padding: 0.5rem 2rem;
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--color-ctr);
    border: none;
    border-radius: 0.3rem;
}

.cta__btn {
    color: #fff;
    background-color: var(--color-com);
    border: none;
}

@media screen and (min-width: 600px) {
    .main {
        background: linear-gradient(to right, #000, #0005, #0005, #000);
    }
}

@media screen and (min-width: 768px) {
    .section {
        padding: 6rem 15vw;
    }
}