@font-face {
  font-family: Work-Sans;
  src: url('./assets/font/WorkSans-VariableFont_wght.ttf');
  font-style: normal; 
}

@font-face {
  font-family: Montserrat;
  src: url('./assets/font/Montserrat-VariableFont_wght.ttf')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.5em;
  text-wrap: pretty;
}

:root {
  font-synthesis: none;
  font-size: 18px;
  font-family: Work-Sans;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #D21;
  --secundary-color: #640404;
  --color4: #985454;
  --color5: #c06c6c;
}

body {
  background-image: linear-gradient(#000b 50%, #6002), url("/src/assets/img/head-bg.jpg");
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  gap: 3rem;
  padding: 6rem 1rem;
  color: #eee;
  background: linear-gradient(#050505, #0002, #050505);
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 30rem;
}

.section__title {
    font-size: 2.2rem;
}

.section__desc {
    color: #ddd;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 6rem 15vw;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: linear-gradient(to right, #000b 20%, #6002), url("/src/assets/img/head-bg.jpg");
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
  }
}