* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-wrap: pretty;
}

:root {
  --color-dom: #050505;
  --color-com: #d21;
  --color-ctr: #eee;
  --color-lgh: #ddd;

  font-synthesis: none;
  font-size: 18px;
  font-family: 'Work Sans';
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: linear-gradient(#000b 50%, #6002), url("./assets/img/head-bg.jpg");
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  body {
    background-image: linear-gradient(to right, #000b 20%, #6002), url("/src/assets/img/head-bg.jpg");
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
  }
}