.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-st, .about-nd {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.about-st {
    flex-wrap: wrap;
}

.about-nd {
    flex-wrap: wrap-reverse;
}

.about__img {
    flex: 1 0 min(100%, 10rem);
    max-width: min(20rem, 100%);
    border-radius: 1rem;
}

.about__text {
    flex: 1 0 min(15rem, 100%);
    color: var(--color-lgh);
    font-size: 1rem;
    font-weight: 400;
}

.about__text strong {
    display: block;
    color: var(--color-ctr);
}

@media screen and (min-width: 1024px) {
    .about {
        text-align: left;
    }

    .about-nd .about__text {
        text-align: end;
    }
}