.about {
    align-items: center;
    text-align: center;
}

.about-sect {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about-sect:first-of-type {
    flex-direction: row;
}

.about__img {
    flex: 1 0 min(100%, 10rem);
    max-width: min(20rem, 100%);
    border-radius: 1rem;
}

.about__text {
    flex: 1 0 min(15rem, 100%);
    color: var(--color-lgh);
    font-size: 1rem;
    font-weight: 400;
}

.about__text strong {
    display: block;
    color: var(--color-ctr); 
}

@media screen and (min-width: 1024px) {
    .about {
        text-align: left;
    }

    .about-sect .about__text {
        text-align: end;
    }

    .about-sect:first-of-type .about__text {
        text-align: start;
    }
}