.categories {
    display: flex;
    flex-direction: column;
    background: linear-gradient(transparent, var(--color-dom) 70%);
}

.categories .section-header {
    display: none;
}

.categories__title {
    margin-top: 4rem;
    width: 60%;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 180%;
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.menu .categories-list {
    flex-wrap: nowrap;
}

.category {
    flex: 0 0 min(100%, 10rem);
    max-width: 10rem;
    background-color: #d218;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem black;
    overflow: clip;
}

.category:has(.category__link.active) {
    background-color: var(--color-com);
}

.category__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 100%;
    text-align: center;
    text-transform: capitalize;
}

.category__desc {
    font-size: 1rem;
}

.category__name {
    font-size: 1.1rem;
    font-weight: 600;
}