.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}

.contact-list__item {
    flex: 1 0 min(12rem, 100%);
    max-width: 15rem;
    padding: 1rem;
    border-top: 2px solid #D21;
}

.contact-list h4 {
    font-weight: 600;
    color: #D21;
}

.contact-list a {
    font-size: 0.9rem;
    font-weight: 600;
    color: #ddd;
}