.contact {
    align-items: center;
    text-align: center;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}

.contact-list__item {
    flex: 1 0 min(12rem, 100%);
    max-width: 15rem;
    padding: 1rem;
    border-top: 2px solid var(--color-com);
}

.contact-list__title {
    font-size: 1rem;
    color: var(--color-com);
}

.contact-list__link {
    font-size: 0.9rem;
    color: var(--color-lgh);
}