.dishes {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    overflow-x: clip;
}

.dishes-header {
    flex: 1 0 min(15rem, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 40rem;
    text-align: center;
}

.dishes__desc-link {
    color: #D21;
    font-weight: 700;
    text-decoration: underline;
}

.dishes-buttons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.dishes__button {
    padding: 0.3rem 2rem;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    color: #eee;
    background-color: transparent;
    border: 0.5px solid #eee;
    border-radius: 0.5rem;
    transition: color .3s, background-color .3s;
}

.dishes_button:hover {
    color: #000;
    background-color: #eee;
}

.dishes-content {
    flex: 1 0 min(20rem, 100%);
    display: flex;
    min-height: 40rem;
    position: relative;
}

.dishes-frame, .dishes-main {
    background-position: center center;
    background-size: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem #000;
    position: absolute;
}

.dishes-frame {
    min-height: max(12rem, 40%);
    aspect-ratio: 1;
    filter: blur(2px);
    left: 40%;
    z-index: 10;
}

.dishes-frame:first-child {
    top: 0;
}

.dishes-frame:last-child {
    bottom: 0;
}

.dishes-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem;
    min-width: 100%;
    aspect-ratio: 1;
    transition: scale .2s;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    z-index: 20;
}

.dishes-main:hover  {
    scale: 1.1;
}

.dishes .stars {
    display: flex;
    gap: 1rem;
}

.dishes .star {
    width: 1.5rem;
}

.dishes-main__title {
    font-size: 1.2rem;
    font-weight: 600;
}

.dishes-main__price {
    color: #D21;
    font-size: 1.3rem;
    font-weight: 700;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.dishes-main__button {
    margin: 1rem 0;
    padding: 0.2rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #D21;
    border: none;
    border-radius: 0.3rem;
}

@media screen and (min-width: 400px) {
    .dishes-main {
        min-width: auto;
        min-height: max(15rem, 50%);
    }
}