.dishes {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: clip;
}

.dishes-container {
    align-items: center;
    text-align: center;
}

.dishes .brief-header {
    flex: 1 0 min(15rem, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 40rem;
    text-align: center;
}

.dishes .brief__desc-link {
    color: var(--color-com);
    font-weight: 700;
    text-decoration: underline;
}

.dishes .brief-buttons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.dishes-brief {
    flex: 1 0 min(20rem, 100%);
    display: flex;
    min-height: 40rem;
    position: relative;
}

.dishes-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.dish {
    background-position: center center;
    background-size: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem #000;
    position: absolute;
}

.dishes-brief .dish:nth-child(odd) {
    min-height: max(12rem, 40%);
    aspect-ratio: 1;
    filter: blur(2px);
    left: 40%;
    z-index: 10;
}

.dishes-brief .dish:first-child {
    top: 0;
    background-image: linear-gradient(to top, #000, #000a 20%, #0005), url('../img/fish.jpg');
}

.dishes-brief .dish:last-child {
    bottom: 0;
    background-image: linear-gradient(to top, #000, #000a 20%, #0005), url('../img/cost.jpg');
}

.dishes-brief .dish:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem;
    min-width: 100%;
    aspect-ratio: 1;
    background-image: linear-gradient(to top, #000, #000d 20%, transparent), url('../img/head-bg.jpg');
    transition: scale .2s;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    z-index: 20;
}

.dishes-brief .dish:nth-child(2):hover  {
    scale: 1.1;
}

.dishes-list .dish {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem;
    min-width: min(20rem, 100%);
    max-width: 20rem;
    aspect-ratio: 6/7;
    background-image: linear-gradient(to top, #000, #000d 20%, transparent), url('../img/head-bg.jpg');
    scroll-snap-align: center;
    position: relative;
}

.dish .stars {
    display: flex;
    gap: 1rem;
}

.dish .star {
    width: 1.5rem;
}

.dish__title {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.dish__price {
    padding: 0.5rem 1rem;
    color: var(--color-com);
    font-size: 1.3rem;
    font-weight: 700;
    background: linear-gradient(to right, #151515, var(--color-dom));
    border-radius: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.dish .btn {
    margin: 1rem 0;
}

@media screen and (min-width: 400px) {
    .dishes-brief .dish:nth-child(2) {
        min-width: auto;
        min-height: max(15rem, 50%);
    }
}