.events {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.events .brief-header {
    flex: 1 0 min(15rem, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 40rem;
    text-align: center;
}

.events .brief__desc-link {
    display: block;
    color: var(--color-com);
    font-weight: 700;
    text-decoration: underline;
}

.events .brief-buttons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.events .brief-buttons .btn {
    transition: color .3s, background-color .3s;
}

.events .brief-buttons .btn {
    color: #000;
    background-color: var(--color-ctr);
}

.events-list{
    flex: 1 0 min(20rem, 100%);
    display: flex;
    min-height: 40rem;
    position: relative;
}

.event {
    background-position: center center;
    background-size: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem #000;
    position: absolute;
}

.event:nth-child(odd) {
    min-height: max(12rem, 40%);
    aspect-ratio: 1;
    filter: blur(2px);
    right: 40%;
    z-index: 10;
}

.event:first-child {
    top: 0;
    background-image: linear-gradient(to top, #000, #000a 20%, #0005), url('../img/valentin.png');
}

.event:last-child {
    bottom: 0;
    background-image: linear-gradient(to top, #000, #000a 20%, #0005), url('../img/halloween.jpg');
}

.event:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    min-width: 100%;
    aspect-ratio: 1;
    background-image: linear-gradient(to top, #000, #000d 20%, transparent), url('../img/christmas.jpg');
    transition: scale .2s;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    z-index: 20;
}

.event:nth-child(2):hover  {
    scale: 1.1;
}

.event__title {
    font-size: 1.6rem;
    font-weight: 600;
}

.event__date{
    color: var(--color-lgh);
}

.event__discount {
    color: rgb(250, 39, 28);
    font-size: 1.2rem;
    font-weight: 700;
}

@media screen and (min-width: 400px) {
    .event:nth-child(2) {
        min-width: auto;
        min-height: max(15rem, 50%);
    }
}