.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    color: var(--color-ctr);
    background-color: var(--color-dom);
    position: fixed;
    z-index: 100;
}

.header__logo {
    height: 1.5rem;
}

.header .nav {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header .nav-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    height: 100%;
}

.header .nav-list__item {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 0.9rem;
}

.header .nav-list__item:has(.nav-list__link.selected) {
    color: rgb(250, 50, 50);
}

.header-buttons {
    display: flex;
    gap: 1rem;
}

.header__button-user {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__button-user .user-icon {
    width: 1rem;
    height: 1rem;
}

.header__button-user .user-icon .content {
    fill: var(--color-ctr);
}

@media screen and (min-width: 900px) {
    .header {
        padding: 1rem 4rem;
    }

    .header .nav {
        display: flex;
    }
}