.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    color: var(--color-ctr);
    background-color: var(--color-dom);
    position: fixed;
    z-index: 100;
}

.header__logo {
    height: 1.5rem;
}

.header .nav {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    height: 100dvh;
    width: 0;
    background-color: var(--color-dom);
    overflow: clip;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -20;
    transition: padding 1s, width 1s;
}

.header .nav.active {
    padding: 4rem 1rem;
    width: 80dvw;
}

.header .nav-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header .nav-list__item {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 0.9rem;
}

.header .nav-list__item:has(.nav-list__link.selected) {
    color: rgb(250, 50, 50);
}

.header-buttons {
    display: flex;
    gap: 1rem;
}

.header__button:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__button-img {
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (min-width: 900px) {
    .header {
        padding: 0.5rem 4rem;
    }

    .header .nav {
        display: flex;
        flex-direction: row;
        padding: 0;
        height: initial;
        width: initial;
        left: 50%;
        top: initial;
        transform: translateX(-50%);
        z-index: 0;
    }

    .header .nav.active {
        padding: 0;
        width: initial;
    }

    .header .nav-list {
        flex-direction: row;
        gap: 3rem;
    }

    .header__button:last-child {
        display: none;
    }
}