.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    padding: 3rem 1rem;
    min-height: min(100dvh, 50rem);
    color: var(--color-ctr);
    text-align: center;
}

.hero .firm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: transparent;
}

.hero .title {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.hero .title__logo {
    display: none;
    width: 8rem;
}

.hero .title__text {
    font-size: 4.5rem;
    font-weight: 700;
    font-family: Montserrat;
    letter-spacing: 0.1rem;
    line-height: 0.9em;
}

.hero .title__text span {
    display: block;
    color: var(--color-com);
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: uppercase;
}

.hero .slogan__text {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-lgh);
}

.hero .slogan__text strong {
    display: block;
}

.hero .social-info {
    display: flex;
    align-items: end;
    gap: 2.5rem;
}

.hero .social-info__link {
    width: 1.8rem;
}

.hero .social-info__link .content {
    fill: var(--color-ctr);
}

@media screen and (min-width: 1024px) {
    .hero {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 15vw;
        text-align: left;
    }

    .hero .title {
        flex-direction: row;
        align-items: flex-end;
    }

    .hero .title__logo {
        display: block;
    }

    .hero .slogan__text {
        width: 70%;
    }

    .hero .social-info {
        flex-direction: column;
    }
}