.main {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #0002, #0005, #0005, #0002);
    backdrop-filter: blur(5px);
}

button {
    padding: 0.3rem 2rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--color-com);
    border: none;
    border-radius: 0.3rem;
}

@media screen and (min-width: 600px) {
    .main {
        background: linear-gradient(to right, #000, #0005, #0005, #000);
    }
}